*{
	
  box-sizing: border-box;

}

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	/*background: radial-gradient(circle, #323538, #1a1b1c, #000000);*/
	background: #fafafa;
	width: 100%;
	height: 100%;

	/*background-image: url('/images/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	}
header{
	padding: 100px 0 150px 0;	
	}
section{
	padding: 0px 0 45px 0;
	}
h1{
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 51px;
	margin: 0 0 23px 0;
	color: #262830;

}
h2{
	font-family: 'Bree Serif', serif;
	font-weight: 400;
	font-size: 20px;
	color:  #262830;
	margin: 0 0 23px 0;
}
h4{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color:  #262830;
	margin: 0 0 10px 0;
	
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	color: #262730;
	margin: 0 0 23px 0;
	padding-bottom: 20px;
}
input{
	font-family: 'Lato', sans-serif;	
}
textarea{
	color: #fafafa;	
}
img{
	margin-left: auto;
	margin-right: auto;
}
.p2-support{
	position: fixed;
	top: 60px;
	right: 10px;
	width: 100%;
	max-width: 60px;
	z-index: 2;
}
#features{
	background:#f1f1f1;
}
#p2-partners{
	background:#4bdced;
}
#p2-business{
	background:#f1f1f1;
}
#p2-partner{
	background:#a0a0a0;
}
#p2-partner p, #p2-partner h2{
	color: #f2f2f2;
}
.p2-header{
	background-image: url('/images/403019215-illustrator-wallpapers.jpg');
	display: block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 90%;
}
.p2-landpng{
	transform: translateY(65%);
}
.p2-landpng img{
	display:block;
}
.p2-landtext{
	transform: translateY(50%);
	padding-bottom: 200px;
}


.p2-requestbtn a{
	text-align: center;
	border: 1px solid #f2f2f2;
	border-radius: 50px;
	color: #fafafa;
	padding: 10px 5px 10px 5px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	text-decoration: none;
}

.p2-requestbtn .p2-demo:hover {
	background:#00ccbeb1;
	border:none;
}
.p2-requestbtn .p2-quote:hover {
	background:#9cd60ab1;
	border:none;
}

/*********************************************** believe Page *******************************/
.p2-believe{
	background:#f2f2f2;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0px;
	width: 100%;
	display: block;
	background-position: center;
}
.p2-believe > .container{
	width: 80%;
}
.p2-believe-list{
	text-align: center;
	padding: 40px 0 0 0;
	overflow: hidden;
}
.p2-believe-list li{
	list-style: none;
	float: left;
	width: 50%;
	padding: 0 20px;
	

}
.p2-believe-list li img{
	display: block;
	width: 100%;
	max-width: 90px;
}
.p2-believe-list li.p2-pf{
	margin:0 auto;
	display: block;
	float: none;
	clear: both;
}
.p2-believe-list li p{
	font-weight: 400;
}
.p2-believe-list li span{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color:  #2D3047;
	margin: 0 0 10px 0;
}
/********************************************************* we do*****************************************************/
.p2-card{
	padding-top: 40px;
	transition: 0.4s;
	padding-bottom: 20px;
	border-radius: 5px;
}
.p2-card:hover{
	box-shadow: 0 3px 5px 5px rgba(0,0,0,0.2);
}
/********************************************************* p2-logo **************************************************/
.p2-logo img{
	float: left;
	width: 100%;
	max-width: 130px;
	margin-left: 10px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	padding-left: 55px;
	padding-top: 35px;
}
.p2-logo img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.p2-feature, .p2-businessp, .p2-wedo, .p2-believe, .p2-foot{
	padding: 80px 0px;
}

/********************************************************* footer ***************************************************/
footer .p2-requestbtn a{
	
	background:blue;
}
footer .p2-requestbtn{
	padding-top:  20px;
}
.p2-linklist ul li{
 	list-style: none;
 	margin-bottom: 5px;
 	display: inline-block;
 		margin-top: 90px;
}
.p2-linklist ul li a{
	text-decoration: none;
	text-align: center;
	border-radius: 50px;
}
.p2-linklist ul{
	padding-left: 0px;

}
.p2-about ul li{
	width: 50%;
	float: left;
	color: #f2f2f2;
}
.p2-about ul{
	padding-left: 0px;
}

/********************************************************* media q***************************************************/
@media only screen and (max-width: 992px){
	section{
		text-align: center;
	}
	p{
		line-height: 18px;
		font-size: 15px;
		line-height: 24px;
		padding-bottom: 0px;
	}
	.btn-primary{
		border-radius: 50px; 
	}
	.p2-bel-header h1{
		font-size: 32px;
		margin-top: 30px;
	}
	
	.p2-landpng{
	transform: translateY(1%);
	}
	.p2-landtext{
	transform: translateY(21%);
	padding-bottom: 0;
	}
	.p2-believe > .container{
	width: 100%;
	}
	.p2-believe-list li span{
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 8px;
	font-weight: 400;
	}
	.p2-believe-list ul{
	padding-left: 0px;
	}
	.p2-wedo a{
		margin-bottom: 40px;
	}
	.p2-linklist ul li{
 	margin-top: 10px;
	}
	.p2-feature, .p2-businessp, .p2-wedo, .p2-believe, .p2-foot{
	padding: 40px 0px;
	}
	
}

/* ------------------------------------------------------- spinner ------------------------------------------------ */
.spinner{
	width: 90px;
	height: 90px;
	 border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	animation: spin 1s infinite linear;
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 10000;
 }

@keyframes spin{
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

/* ------------------------------------------------------- bootstrap.css ------------------------------------------------ */
/*.navbar-default {

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(250,250,250,0);
    border-color: rgba(250,250,250,0);
}*/

.container-fluid{
	padding: 0;
	margin: 0;
}

.navbar-default{

    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-color: rgba(46, 154, 221,1);
    border-color: #f2f2f2a0;
    z-index: 1;
}
.navbar-inverse li a{
	color: #f2f2f2;
}
.navbar-default > li > a{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #f2f2f2;
}
.navbar-default .navbar-nav > li > a {
    font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #f2f2f2;
}
.navbar-nav .open .dropdown-menu{
	background-color: #000000e6;
}
.row{
	margin-left: auto;
	margin-right: auto;
}
.dropdown-toggle{
	border: 2px;
	
}
.navbar-right{
	margin-right: 0;
}
.dropdown-menu > li > a{
	display: inline-block;
	padding: 3px 10px;
}
.dropdown ul{
	text-align: center;
}
.navbar-brand{
	padding-top:2px;
}
.navbar-brand img{
	border-radius: 50%;	
	margin-left: 2px;
	transition: all .5s ease;
	
}
.navbar-brand:hover img {
	opacity: 1;
	box-shadow: 1px 1px 3px 0px purple;
}



/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
 .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
 .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
  .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
   .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11,
     .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
     float: none;
    }
.col-sm-6, .col-sm-4, .col-sm-3{
	float: left;
}
*/


