*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
.abccd {
/* You may now use class .sb-site-container instead of #sb-site and use your own id.   However please make sure you don't set any of the following styles any differently on your id. */
    width: 100%;
    position: relative;
    z-index: 1; /* Site sits above Slidebars */
    background-color: #fff; /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}
 @media(max-width:768px) {
 .p-porfolio-heading h3{
 		font-size: 2px;
 	}
 	
 }